.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 800px;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: none;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 600px;
    flex-shrink: 0;
  }
}
.img__npNu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__npNu > picture > img {
  object-fit: cover;
}
.img__npNu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__npNu {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.desc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 16px;
}
.desc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.desc > :global(.__wab_flex-container) > *,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.desc > :global(.__wab_flex-container) > picture > img,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.text___2QRog {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  color: #ffffff;
  min-width: 0;
}
.h2__hvAn2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text__gTfAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  padding-bottom: 0px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__rimOu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__rimOu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__rimOu > :global(.__wab_flex-container) > *,
.freeBox__rimOu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rimOu > :global(.__wab_flex-container) > picture > img,
.freeBox__rimOu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text___7GO4I {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 0px;
  color: #ffffff;
}
.h5__x0Wdx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 5px;
  padding-bottom: 0px;
  font-weight: 700;
  color: #ffffff;
}
.text___9DlI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 0px;
  color: #ffffff;
}
.details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details {
    height: auto;
  }
}
.contentWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper > :global(.__wab_flex-container) > *,
.contentWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper > :global(.__wab_flex-container) > picture > img,
.contentWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.title > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.h2___7HOv3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.h5__myBc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.pengantinDetails {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.pengantinDetails > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.pengantinDetails > :global(.__wab_flex-container) > *,
.pengantinDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pengantinDetails > :global(.__wab_flex-container) > picture > img,
.pengantinDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.pengantinDetails {
  --plsmc-rc-col-gap: 0px;
}
.pengantinDetails > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.pengantinDetails > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 42px);
    height: calc(100% + 42px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) > *,
  .pengantinDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .pengantinDetails > :global(.__wab_flex-container) > picture > img,
  .pengantinDetails
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 42px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ts6Hw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.man {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.man > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.man > :global(.__wab_flex-container) > *,
.man > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.man > :global(.__wab_flex-container) > picture > img,
.man > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.img__sWvM {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__sWvM > picture > img {
  object-fit: cover;
}
.img__sWvM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__pma8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__zwau0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.text__qcXWn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__vIDjS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  min-width: 0;
}
.column__jwVtf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.girl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.girl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.girl > :global(.__wab_flex-container) > *,
.girl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.girl > :global(.__wab_flex-container) > picture > img,
.girl > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.img__gmLag {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__gmLag > picture > img {
  object-fit: cover;
}
.img__gmLag > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__ntRkW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text___6Ge1A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.text__eSa1I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__lgEg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  min-width: 0;
}
.text__rLnUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.text__reQJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.dateTime {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 0;
}
.dateTime > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.dateTime > :global(.__wab_flex-container) > *,
.dateTime > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dateTime > :global(.__wab_flex-container) > picture > img,
.dateTime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__unMst {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__e1Hx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.text__knoTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.text__qaE7V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.freeBox__kCCpB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__akVo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.text___6TiB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.text__vh1NB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.freeBox__eeqo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__goIso {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__goIso > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__goIso > :global(.__wab_flex-container) > *,
.freeBox__goIso > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__goIso > :global(.__wab_flex-container) > picture > img,
.freeBox__goIso
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__v43M {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text___1Uwvc {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text__o5G5X {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text__jrrhv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__cspIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__fRqxL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.h2__mYmb1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gallery {
    height: auto;
  }
}
.contentWrapper2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper2 > :global(.__wab_flex-container) > *,
.contentWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper2 > :global(.__wab_flex-container) > picture > img,
.contentWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 32px;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__r66H0 {
  width: auto;
  height: 90px;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  flex-shrink: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__yArAe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
  display: flex;
}
.freeBox__oFuCq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  margin-top: calc(32px + 24px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oFuCq {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: calc(32px + 24px) !important;
  }
}
.freeBox___2E5Gb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img__rYhH {
  position: relative;
  object-fit: cover;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}
.img__rYhH > picture > img {
  object-fit: cover;
}
.img__rYhH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.map {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .map {
    height: auto;
  }
}
.contentWrapper3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper3 > :global(.__wab_flex-container) > *,
.contentWrapper3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper3 > :global(.__wab_flex-container) > picture > img,
.contentWrapper3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 32px;
  min-width: 0;
}
.title3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.title3 > :global(.__wab_flex-container) > *,
.title3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title3 > :global(.__wab_flex-container) > picture > img,
.title3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__zlNQv {
  width: auto;
  height: 90px;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  flex-shrink: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.iframe:global(.__wab_instance) {
  width: 800px;
  height: 399px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.freeBox__iloPk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hzeyz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__syu9H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 24px;
}
.text__iufQg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  white-space: pre-wrap;
}
.whatsappButton:global(.__wab_instance) {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  flex-shrink: 0;
}
.link {
  position: relative;
  display: flex;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
