.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 800px;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: none;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 600px;
    flex-shrink: 0;
  }
}
.img__npNu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__npNu > picture > img {
  object-fit: cover;
}
.img__npNu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__npNu {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.img__toIiX {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: auto;
  height: auto;
  bottom: 0px;
}
.img__toIiX > picture > img {
  object-fit: cover;
}
.img__toIiX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reveal__fCzIh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.desc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 65px;
  min-width: 0;
  padding: 0px 16px;
}
.desc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.desc > :global(.__wab_flex-container) > *,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.desc > :global(.__wab_flex-container) > picture > img,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.text__pXqNu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  min-width: 0;
}
.h1__zcRnJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Qwigley";
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text__pkb2Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 0px;
  color: #ffffff;
  font-size: 14px;
  min-width: 0;
}
.freeBox__miUnw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__miUnw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__miUnw > :global(.__wab_flex-container) > *,
.freeBox__miUnw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__miUnw > :global(.__wab_flex-container) > picture > img,
.freeBox__miUnw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text__aiujj {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
.h5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 0px;
  font-weight: 700;
  color: #ffffff;
}
.text__dnwXz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  color: #ffffff;
}
.details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: #f1ede1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details {
    height: auto;
  }
}
.contentWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper > :global(.__wab_flex-container) > *,
.contentWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper > :global(.__wab_flex-container) > picture > img,
.contentWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 42px;
  min-width: 0;
}
.title > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.reveal__i8NVj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h1___5936 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Qwigley";
  text-align: center;
  background: none;
  color: #53602b;
  min-width: 0;
}
.reveal___6Uosd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___1ZvGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 42px;
  min-width: 0;
}
.reveal__z7MX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.pengantinDetails {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.pengantinDetails > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.pengantinDetails > :global(.__wab_flex-container) > *,
.pengantinDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pengantinDetails > :global(.__wab_flex-container) > picture > img,
.pengantinDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.pengantinDetails {
  --plsmc-rc-col-gap: 0px;
}
.pengantinDetails > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.pengantinDetails > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 42px);
    height: calc(100% + 42px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) > *,
  .pengantinDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .pengantinDetails > :global(.__wab_flex-container) > picture > img,
  .pengantinDetails
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 42px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__msWnh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.man {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.man > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.man > :global(.__wab_flex-container) > *,
.man > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.man > :global(.__wab_flex-container) > picture > img,
.man > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.img__seMh {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__seMh > picture > img {
  object-fit: cover;
}
.img__seMh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h2__oi3C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Qwigley";
  color: #53602b;
  background: none;
  padding-top: 24px;
  min-width: 0;
}
.text__qxhes {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
.text__jEwaS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  color: #53602b;
  min-width: 0;
}
.text___1XRhy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
.column__qRh7G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.girl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.girl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.girl > :global(.__wab_flex-container) > *,
.girl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.girl > :global(.__wab_flex-container) > picture > img,
.girl > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.img__zQyZl {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__zQyZl > picture > img {
  object-fit: cover;
}
.img__zQyZl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h2__n58Q1 {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-family: "Qwigley";
  color: #53602b;
  background: none;
  height: auto;
  padding-top: 24px;
  min-width: 0;
}
.text__s5Xz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
.text__tjV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  color: #53602b;
  min-width: 0;
}
.text__l5YJ5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
.reveal__h3MlF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__ttKHn {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  height: 200px;
}
.img__ttKHn > picture > img {
  object-fit: contain;
}
.img__ttKHn > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.reveal__bkLcP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__jgdPo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jgdPo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__jgdPo > :global(.__wab_flex-container) > *,
.freeBox__jgdPo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jgdPo > :global(.__wab_flex-container) > picture > img,
.freeBox__jgdPo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__reQJ {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.dateTime {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 0;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid var(--token-MjYUWCcX38Uk);
}
.dateTime > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.dateTime > :global(.__wab_flex-container) > *,
.dateTime > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dateTime > :global(.__wab_flex-container) > picture > img,
.dateTime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__unMst {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__unMst > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__unMst > :global(.__wab_flex-container) > *,
.freeBox__unMst > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__unMst > :global(.__wab_flex-container) > picture > img,
.freeBox__unMst
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__e1Hx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.text__knoTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.text__qaE7V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.freeBox__kCCpB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__kCCpB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kCCpB > :global(.__wab_flex-container) > *,
.freeBox__kCCpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kCCpB > :global(.__wab_flex-container) > picture > img,
.freeBox__kCCpB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__akVo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.text___6TiB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.text__vh1NB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.freeBox__eeqo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eeqo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__eeqo > :global(.__wab_flex-container) > *,
.freeBox__eeqo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eeqo > :global(.__wab_flex-container) > picture > img,
.freeBox__eeqo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__goIso {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__goIso > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__goIso > :global(.__wab_flex-container) > *,
.freeBox__goIso > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__goIso > :global(.__wab_flex-container) > picture > img,
.freeBox__goIso
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__v43M {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #53602b;
}
.text___1Uwvc {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #53602b;
}
.text__o5G5X {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #53602b;
}
.text__jrrhv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #53602b;
  min-width: 0;
}
.text__cspIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #53602b;
  min-width: 0;
}
.text__fRqxL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.reveal__zi67:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h1__mYmb1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Qwigley";
  text-align: center;
  background: none;
  color: #53602b;
  padding-top: 42px;
  min-width: 0;
}
.gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: url("/plasmic/bentuk_cintav_2/images/bgWatercolorMinpng.png") 0% 0% / cover no-repeat;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gallery {
    height: auto;
  }
}
.img__rw4P {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__rw4P > picture > img {
  object-fit: cover;
}
.img__rw4P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.contentWrapper2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper2 > :global(.__wab_flex-container) > *,
.contentWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper2 > :global(.__wab_flex-container) > picture > img,
.contentWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 32px;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__r66H0 {
  width: auto;
  height: 90px;
  max-width: 100%;
  font-family: "Qwigley";
  text-align: center;
  background: none;
  color: #53602b;
  flex-shrink: 0;
}
.text__yArAe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
  display: flex;
}
.freeBox__oFuCq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  margin-top: calc(32px + 24px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oFuCq {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: calc(32px + 24px) !important;
  }
}
.freeBox___2E5Gb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img__rYhH {
  object-fit: cover;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__rYhH > picture > img {
  object-fit: cover;
}
.img__rYhH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.map {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: linear-gradient(180deg, #004844 0%, #002220 100%);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .map {
    height: auto;
  }
}
.contentWrapper3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper3 > :global(.__wab_flex-container) > *,
.contentWrapper3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper3 > :global(.__wab_flex-container) > picture > img,
.contentWrapper3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 32px;
  min-width: 0;
}
.title3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.title3 > :global(.__wab_flex-container) > *,
.title3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title3 > :global(.__wab_flex-container) > picture > img,
.title3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__zlNQv {
  width: auto;
  height: 90px;
  max-width: 100%;
  font-family: "Qwigley";
  text-align: center;
  background: none;
  color: #ffffff;
  flex-shrink: 0;
}
.iframe:global(.__wab_instance) {
  width: 800px;
  height: 399px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.freeBox__iloPk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__ghDH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hzeyz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__syu9H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #002220;
  min-width: 0;
  padding: 24px;
}
.text__iufQg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  white-space: pre-wrap;
}
.whatsappButton:global(.__wab_instance) {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  flex-shrink: 0;
}
.link {
  position: relative;
  display: flex;
  cursor: pointer;
}
.svg__dkJa0 {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.freeBox__mgDkk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mgDkk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__mgDkk > :global(.__wab_flex-container) > *,
.freeBox__mgDkk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mgDkk > :global(.__wab_flex-container) > picture > img,
.freeBox__mgDkk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__j32P8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  margin-top: calc(12px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.text__f4E0B {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Allura";
  font-size: 42px;
  color: #53602b;
  min-width: 0;
}
.img___1JKkj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img___1JKkj > picture > img {
  object-fit: cover;
}
.img___1JKkj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__chPGi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.text___5W8Xs {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.freeBox__rIqCc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(24px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__rIqCc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__rIqCc > :global(.__wab_flex-container) > *,
.freeBox__rIqCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rIqCc > :global(.__wab_flex-container) > picture > img,
.freeBox__rIqCc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.part14 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.part14 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.part14 > :global(.__wab_flex-container) > *,
.part14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.part14 > :global(.__wab_flex-container) > picture > img,
.part14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__gklJ4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__uylHh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}
.part15 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.part15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.part15 > :global(.__wab_flex-container) > *,
.part15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.part15 > :global(.__wab_flex-container) > picture > img,
.part15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg___4BlfN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__tmMe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}
.part16 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.part16 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.part16 > :global(.__wab_flex-container) > *,
.part16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.part16 > :global(.__wab_flex-container) > picture > img,
.part16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg___2FXSg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__psXm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}
.text__v6W0 {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #8b8b8b;
  margin-bottom: 12px;
}
.freeBox__i3LDd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__a8Y9R:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__glHmT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mMTr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.imagePreview:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}
.svg___0M8Xc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  cursor: pointer;
}
.img__tYhrs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__tYhrs > picture > img {
  object-fit: cover;
}
.img__tYhrs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
