.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.embedHtml__bxI4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 708px;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: none;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 600px;
    flex-shrink: 0;
  }
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 800px;
  min-width: 0;
  flex-shrink: 0;
}
.img__gp0Q5 {
  object-fit: cover;
  max-width: 100%;
}
.img__gp0Q5 > picture > img {
  object-fit: cover;
}
.img__gp0Q5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qoO6 {
  object-fit: cover;
  max-width: 100%;
}
.img__qoO6 > picture > img {
  object-fit: cover;
}
.img__qoO6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__jAtSl {
  object-fit: cover;
  max-width: 100%;
}
.img__jAtSl > picture > img {
  object-fit: cover;
}
.img__jAtSl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reveal__f8Xrl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.desc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 16px;
}
.desc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.desc > :global(.__wab_flex-container) > *,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.desc > :global(.__wab_flex-container) > picture > img,
.desc > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.text__tN7Fd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  min-width: 0;
}
.h2__dc6Gb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text__d4Mnm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 0px;
  color: #ffffff;
  font-size: 14px;
  min-width: 0;
}
.freeBox__vFqWh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vFqWh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__vFqWh > :global(.__wab_flex-container) > *,
.freeBox__vFqWh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vFqWh > :global(.__wab_flex-container) > picture > img,
.freeBox__vFqWh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text__vyIVp {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
.text__c20R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.h5__hhWtX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 0px;
  font-weight: 700;
  color: #ffffff;
}
.text__ynRz3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.text__b4C7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  color: #ffffff;
}
.details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details {
    height: auto;
  }
}
.contentWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper > :global(.__wab_flex-container) > *,
.contentWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper > :global(.__wab_flex-container) > picture > img,
.contentWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal__jvz6D:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 42px;
  min-width: 0;
}
.title > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.h2___2TKCo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.h5__ktQ0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.pengantinDetails {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.pengantinDetails > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.pengantinDetails > :global(.__wab_flex-container) > *,
.pengantinDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pengantinDetails > :global(.__wab_flex-container) > picture > img,
.pengantinDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.pengantinDetails {
  --plsmc-rc-col-gap: 0px;
}
.pengantinDetails > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.pengantinDetails > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 42px);
    height: calc(100% + 42px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) > *,
  .pengantinDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .pengantinDetails > :global(.__wab_flex-container) > picture > img,
  .pengantinDetails
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 42px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pengantinDetails > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wu0IW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal___2Al0X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.man {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.man > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.man > :global(.__wab_flex-container) > *,
.man > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.man > :global(.__wab_flex-container) > picture > img,
.man > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.img__lNWjM {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__lNWjM > picture > img {
  object-fit: cover;
}
.img__lNWjM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__um5Tm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__zC28C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.text__mN3ZY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
.freeBox__ptPm3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 8px 8px;
  border-top: 1px solid var(--token-LN1YkB123lXQ);
}
.freeBox__ptPm3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ptPm3 > :global(.__wab_flex-container) > *,
.freeBox__ptPm3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ptPm3 > :global(.__wab_flex-container) > picture > img,
.freeBox__ptPm3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__lZc1H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-47ovROB-Xr2C);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__fbfd2 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
}
.column__u0Te {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.reveal__g8H0Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.girl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.girl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.girl > :global(.__wab_flex-container) > *,
.girl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.girl > :global(.__wab_flex-container) > picture > img,
.girl > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.img__pTkre {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__pTkre > picture > img {
  object-fit: cover;
}
.img__pTkre > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__iFuvo {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-family: "Pacifico";
  color: transparent;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  height: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__zwBbd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.text__gOi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
.freeBox__qlg9X {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 8px 8px;
  border-top: 1px solid var(--token-LN1YkB123lXQ);
}
.freeBox__qlg9X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__qlg9X > :global(.__wab_flex-container) > *,
.freeBox__qlg9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qlg9X > :global(.__wab_flex-container) > picture > img,
.freeBox__qlg9X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__o1S2F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-47ovROB-Xr2C);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__ykkky {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
}
.reveal__al0Ro:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.acaraDetails {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 24px;
  overflow: hidden;
  min-width: 0;
  border-radius: 24px;
}
.acaraDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.acaraDetails > :global(.__wab_flex-container) > *,
.acaraDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.acaraDetails > :global(.__wab_flex-container) > picture > img,
.acaraDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__h0GYq {
  object-fit: cover;
  width: 100%;
  height: 102%;
  position: absolute;
  left: 0px;
  top: -24px;
}
.img__h0GYq > picture > img {
  object-fit: cover;
}
.img__h0GYq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rpUny {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffffbd;
  min-width: 0;
  padding: 24px;
}
.freeBox__rpUny > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rpUny > :global(.__wab_flex-container) > *,
.freeBox__rpUny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rpUny > :global(.__wab_flex-container) > picture > img,
.freeBox__rpUny
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__ikp8O {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__mAfpc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.dateTime {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 0;
}
.dateTime > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.dateTime > :global(.__wab_flex-container) > *,
.dateTime > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dateTime > :global(.__wab_flex-container) > picture > img,
.dateTime
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__vyw4R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vyw4R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__vyw4R > :global(.__wab_flex-container) > *,
.freeBox__vyw4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vyw4R > :global(.__wab_flex-container) > picture > img,
.freeBox__vyw4R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__zxJxQ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zxJxQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__zxJxQ > :global(.__wab_flex-container) > *,
.freeBox__zxJxQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zxJxQ > :global(.__wab_flex-container) > picture > img,
.freeBox__zxJxQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__uermj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #000000;
  flex-shrink: 0;
}
.text__inEqG {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text__j3EtH {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text___7MfdD {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.freeBox__sum2K {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sum2K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__sum2K > :global(.__wab_flex-container) > *,
.freeBox__sum2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sum2K > :global(.__wab_flex-container) > picture > img,
.freeBox__sum2K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__cUfKa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  align-self: flex-start;
  color: #000000;
  flex-shrink: 0;
}
.text__hJmQx {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.freeBox__fraub {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fraub > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__fraub > :global(.__wab_flex-container) > *,
.freeBox__fraub > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fraub > :global(.__wab_flex-container) > picture > img,
.freeBox__fraub
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__bgzp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #000000;
  flex-shrink: 0;
}
.text__icRbW {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__hhXtF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.reveal__vc8PA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.title5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 42px;
  min-width: 0;
}
.title5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.title5 > :global(.__wab_flex-container) > *,
.title5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title5 > :global(.__wab_flex-container) > picture > img,
.title5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__g7Gs1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  padding-top: 42px;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gallery {
    height: auto;
  }
}
.contentWrapper2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper2 > :global(.__wab_flex-container) > *,
.contentWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper2 > :global(.__wab_flex-container) > picture > img,
.contentWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal__em1Xm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.title2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 32px;
  min-width: 0;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__yqo5V {
  width: auto;
  height: 90px;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  flex-shrink: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__bz9Ex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
  display: flex;
}
.freeBox__lpvkh {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  margin-top: calc(32px + 24px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lpvkh {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: calc(32px + 24px) !important;
  }
}
.freeBox___1PPe3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img__iNcL {
  object-fit: cover;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}
.img__iNcL > picture > img {
  object-fit: cover;
}
.img__iNcL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.embedHtml__grXZk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.map {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 72px;
  padding-top: 72px;
  background: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .map {
    height: auto;
  }
}
.contentWrapper3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 24px;
}
.contentWrapper3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper3 > :global(.__wab_flex-container) > *,
.contentWrapper3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper3 > :global(.__wab_flex-container) > picture > img,
.contentWrapper3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.title3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 32px;
  min-width: 0;
}
.title3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.title3 > :global(.__wab_flex-container) > *,
.title3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title3 > :global(.__wab_flex-container) > picture > img,
.title3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__xRgX {
  width: auto;
  height: 90px;
  max-width: 100%;
  font-family: "Pacifico";
  text-align: center;
  background: linear-gradient(0deg, #be6f11 0%, #fce27f 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: transparent;
  flex-shrink: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.iframe:global(.__wab_instance) {
  width: 800px;
  height: 399px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.freeBox__sBjBv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__ss2D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___9CWcM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jkdqb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 24px;
}
.text__capHd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  white-space: pre-wrap;
}
.whatsappButton:global(.__wab_instance) {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  flex-shrink: 0;
}
.link {
  position: relative;
  display: flex;
  cursor: pointer;
}
.svg__zbTp8 {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.modalTemplate3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.freeBox__vsIrb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vsIrb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__vsIrb > :global(.__wab_flex-container) > *,
.freeBox__vsIrb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vsIrb > :global(.__wab_flex-container) > picture > img,
.freeBox__vsIrb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__bOCiG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  margin-top: calc(12px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.text__wlad5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Allura";
  font-size: 42px;
  color: #53602b;
  min-width: 0;
}
.img__mcTdi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 64px;
}
.img__mcTdi > picture > img {
  object-fit: cover;
}
.img__mcTdi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vkc9J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.text__qnTn4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.freeBox__yfBV {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(24px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__yfBV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__yfBV > :global(.__wab_flex-container) > *,
.freeBox__yfBV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yfBV > :global(.__wab_flex-container) > picture > img,
.freeBox__yfBV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.part1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.part1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.part1 > :global(.__wab_flex-container) > *,
.part1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.part1 > :global(.__wab_flex-container) > picture > img,
.part1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.svg__wX75I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__gFfa4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}
.part12 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.part12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.part12 > :global(.__wab_flex-container) > *,
.part12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.part12 > :global(.__wab_flex-container) > picture > img,
.part12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__rj1X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__b1Yo6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}
.part13 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.part13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.part13 > :global(.__wab_flex-container) > *,
.part13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.part13 > :global(.__wab_flex-container) > picture > img,
.part13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg___746M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__aAaAb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
}
.text__htQwc {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #8b8b8b;
  margin-bottom: 12px;
}
.freeBox__en7Gl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__pcgzo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___51Yg8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zP21M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.imagePreview:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}
.svg__aju7Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  cursor: pointer;
}
.img___3Qx8P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img___3Qx8P > picture > img {
  object-fit: cover;
}
.img___3Qx8P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
